
// colors
$color_black:#000;
$color_black_2:#010101;
$color_white:#fff;
$color_white_2:#E6E6E6;
$color_white_3:#F7F7F7;
$color_blue:#4F8FF0;
$color_text:#222222;
// fonts

$font_1: "Nunito Sans", sans-serif;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */
